<div class="row">
	<div class="col-md-6 col-md-offset-3">

			<div class="thread">
			<h4>Judul Thread</h4>

			<div class="meta">
				5 oktober oleh susi wulandari
			</div>

			<div class="content">
				content untuk thread pertama
			</div>

			<div class="count">
				5 obrolan
			</div>
			<div style="clear: both"></div>
		</div>

		<div class="thread">
			<h4>Judul Thread</h4>

			<div class="meta">
				5 oktober oleh susi wulandari
			</div>

			<div class="content">
				content untuk thread pertama
			</div>

			<div class="count">
				5 obrolan
			</div>
			<div style="clear: both"></div>
	</div>
</div>